<nz-layout>
    <nz-header>
        <div class="logo">
            <img src="assets/logo_side_white.png">
        </div>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>Users list</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <nz-table #usersTable [nzData]="users" [nzShowPagination]="true" [nzShowSizeChanger]="true" [nzPageSize]="5" [nzLoading]="loading" [nzPageSizeOptions]="[5,10,20]">
                <thead>
                    <tr>
                        <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
                            {{ column.name }}
                        </th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of usersTable.data">
                        <td>{{data.name}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.website}}</td>
                        <td>
                            <button nz-button nzType="primary" nzShape="circle" (click)="showLocation(data)">
                                <i nz-icon nzType="search"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-content>
    <nz-footer>Implemented by shadcome</nz-footer>
</nz-layout>

<!-- Modal for show Location of selected Users -->
<nz-modal [(nzVisible)]="showMap" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Location of user</ng-template>
    <ng-template #modalContent>
        <scome-map [user]="selectedUser"></scome-map>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Close</button>
    </ng-template>
</nz-modal>