.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 3em;
    }
}

[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 0 50px;
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}