@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@font-face {
    font-family: OpenSans;
    src: url("./assets/fonts/OpenSans-Bold.ttf") format("ttf");
}

html,
body {
    // font-family: OpenSans !important;
    font-size: 16px;
    margin: 0 auto;
    background-color: #f0f2f5 !important;
}